* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.alert {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 20px auto;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgb(114, 3, 204), rgb(0, 0, 0));
}

.form-body {
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #1fa0a08c;
    background-color: #00000073;
    margin: 10px;
}

.form-body img {
    width: 150px;
    display: block;
    margin: 20px auto;
}
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 25px;
}

.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.form-body input[type="password"] {
    margin-top: 20px;
}

::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.596)
}

.form-body input:hover {
    transition: .1s;
    border: 2.5px solid #1fa0a0;
    color: #1fa0a0;
}


.btn {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-left: 58px;
    margin-bottom: 20px;
    height: 40px;
    width: 70%;
}


.form-check input {
    border: 2.5px solid #ffffff;
    background-color: white;
    width: 5%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 0.1px;
}
  
  .form-check input:checked {
    background-color: #8400ff;
    border-color: #00eeff;
    width: 5%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 0.1px;

  }
  
  .form-check-label {
    margin: auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    outline: none;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
  }

  .condicion {
    margin: auto;
    color: rgb(83, 82, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-bottom: 3px;
    margin-left: 50px;
  }
  
  @media screen and (max-width:980px){

    .form-body{
        display: block;
        position: absolute;
        right: 0;
        background-color: #00000052;
        width: 180px;
        align-content: center;
        margin-right: 6%;

    }

    .card {
        display: flex;
        align-items: center;
        margin-top: 170%;
    }
}
@media screen and (max-width:700px){
    .form-body{
        display: block;
    }
    .form-body{
        width: fit-content;
    }

}